body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #f44336;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav li a {
    color: white;
    text-decoration: none;
}

nav li a:hover {
    color: #ff9800;
}