/* contact us*/
#main-contact-us {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    gap: 0px;
    border-radius: 30px;
}

#contact img {
    width: 180px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
}

#